.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(240, 5, 5, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body {
  padding: 0rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(2.8);
}
.grid {
  display: grid;
  place-items: center;
  font-family: Harabara;
  letter-spacing: 0.1em;
  width: 100%;
  height: auto;

  font-weight: 300;
  font-size: 2.9vw;
}
.container-c{
  padding: 5%;

}
