footer {
  width: 100%;
  padding: 50px 0px;
  /*background-image: url(../Footer/img/footer.svg);*/
  background-size: cover;
  background-color: #e94b4b;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
/*agre footer*/

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.footer__copy{
  --padding-container: 100px 0;
  text-align: center;
  color: #fff;
}

.footer__copyright{
  font-weight: 100;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 30px;
}

.footer__icons{
  margin-bottom: 50px;
}

.footer__img{
  width: 10px;
}
/*agre footer*/
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
  margin-top: -20%;
}

.terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #fffbfb;
  font-size: 20px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-decoration: none
}

.box__footer a:hover {
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 720px) {
.box__footer a {
    margin-top: 0px;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    text-decoration: none
}
.box__footer{
    padding: 10px;
}
}
